# Node / Next.js
node_modules/
.next/
out/
dist/
.next-cache/
coverage/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env & local configs
.env
.env.*
!.env.example
*.local

# Mac / Editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Misc
*.pid
*.seed
*.tsbuildinfo
